.imageBox img {
    border-radius: 5px;
}

.movieInfoPage {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    min-height: 100px;
    background: rgba(173, 216, 230, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.movieInfoBox {
    padding: 10px;
}

.movieTitle {
    text-align: center;
}

.movieDescription {
    text-align: justify;
    text-indent: 30px;
}

.movieOverviewText {
    text-align: justify;
    text-indent: 30px;
}
