.movieWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.prevNextBox {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.prevNextBox button {
    border: none;
    border-radius: 5px;
    background: rgba(173, 216, 230, 0.6);
    width: 120px;
    padding: 10px 0;
    color: white;
}

.prevNextBox button:disabled {
    background: rgba(173, 216, 230, 0.1);
    color: rgba(255, 255, 255, 0.1);
}

.currentPage {
    margin: auto 10px;
    font-weight: bolder;
    text-decoration: underline;
}

.pageNumbers {
    margin: auto 10px;
}