.genresBar {
    border-radius: 10px;
    margin: 10px 40px;
    padding: 10px 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: content-box;
    background: rgba(255, 218, 185, 0.1);
}

.genreStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.genreStyle button {
    width: 100px;
    height: 40px;
    padding: 30px 60px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    box-shadow: rgba(173, 216, 230, 0.1) 5px 5px 5px;
}

.genreStyle a {
    text-decoration: none;
    color: lightblue;
}

.genreStyle a:hover {
    color: mediumpurple;
}

.genreStyle a[class='active'] {
    color: mediumpurple;
}
