/*.genresPageStyle {*/
/*    width: 90%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.genresWrapper {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background: rgba(173, 216, 230, 0.1);*/
/*    border-radius: 20px;*/
/*}*/

.genreStyle a {
    text-decoration: none;
    color: lightblue;
}

.genreStyle a:hover {
    color: mediumpurple;
}

.genreStyle a[class='active'] {
    color: mediumpurple;
}

.genreInfo {
    background: white;
    margin: 5px;
}