.starRating button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.starRatingOn {
    color: mediumpurple;
}
.starRatingOff {
    color: lightblue;
}

.star {
    font-size: x-large;
}

